<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div
  class="m-10 rounded-sm border border-stroke bg-white px-5 pt-6 pb-2.5 shadow-default dark:border-strokedark dark:bg-boxdark sm:px-7.5 xl:pb-1  ">
  <div class="max-w-full overflow-x-auto">
    <table class="w-full table-auto">
      <thead>
        <tr class="bg-gray-2 text-left dark:bg-boxdark">
          <!-- <th class="min-w-[220px] py-4 px-4 font-medium text-black dark:text-cement xl:pl-11">
            Log ID
          </th>
          <th class="min-w-[150px] py-4 px-4 font-medium text-black dark:text-cement">
            Log Time
          </th> -->
          <th class="min-w-[150px] py-4 px-4 font-medium text-black dark:text-cement">
            Timestamp
          </th>
          <th class="min-w-[150px] py-4 px-4 font-medium text-black dark:text-cement">
            IP Address
          </th>
          <th class="min-w-[120px] py-4 px-4 font-medium text-black dark:text-cement">
            Http Method
          </th>
          <th class="py-4 px-4 font-medium text-black dark:text-cement">
            Request URL
          </th>
          <th class="py-4 px-4 font-medium text-black dark:text-cement">
            Status Code 
          </th>
        </tr>
      </thead>
      <tbody>
        <tbody class=" dark:bg-boxdark-2" id="logTableBody"></tbody>
    </table>
</div>
</div>
<!-- <script src="../js/components/liveDashboard1.js"></script> -->
<script type="text/JavaScript" src="../js/components/liveDashboard1.js"></script>
</body>
</html>