<div x-show="loaded"
  x-init="window.addEventListener('DOMContentLoaded', () => {setTimeout(() => loaded = false, 500)})"
  class="fixed left-0 top-0 z-999999 flex h-screen w-screen items-center justify-center bg-black">
  <div class="pyramid-loader">
    <div class="wrapper">
      <span class="side side1"></span>
      <span class="side side2"></span>
      <span class="side side3"></span>
      <span class="side side4"></span>
      <span class="shadow"></span>
      <div class="hologram-text absolute top-0 left-1/2 transform -translate-x-1/2 text-white text-lg font-bold opacity-50 animate-hologram">Loading</div>
      <div class="light-beam absolute top-0 left-1/2 transform -translate-x-1/2 h-2 w-2 bg-gradient-to-b from-transparent to-pink opacity-50 animate-light"></div>
  </div>
    </div>
  </div>
</div>
